@tailwind base;
@tailwind components;
@tailwind utilities;

/* ================= GLOBAL ================= */
body {
  margin: 0;
  @apply font-primary  text-arcadisDark bg-white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* ================= CODE ================= */
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
